In [1]:
from pandas import read_csv
import pandas as pd
from sklearn import datasets
from pandas.plotting import scatter_matrix
from matplotlib import pyplot
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns #要注意的是一旦导入了seaborn，matplotlib的默认作图风格就会被覆盖成seaborn的格式

import numpy as np

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [3]:
data = pd.read_csv(r'E:\Project\train.csv') # 如果用pandas打不开数据，可以使用记事本打开把编码格式改成utf-8另存
data.head()

,id,cat_0,cat_1,cat_2,cat_3,cat_4,cat_5,cat_6,cat_7,cat_8,...,num_29,num_30,num_31,num_32,num_33,num_34,num_35,num_36,num_37,target
0,0,2,103,9,4,3,1,3,4,4,...,2.000000,3.0,0.000000,0.0,0.0,0.0,0.0,0.089758,0.000129,0.0
1,1,0,177,6,2,2,1,2,4,4,...,0.968742,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000312,0.0
2,2,7,70,7,4,5,0,3,4,4,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000164,0.0
3,3,11,166,7,2,3,1,1,1,2,...,0.021729,0.0,0.021729,0.0,0.0,0.0,0.0,0.000081,0.000205,0.0
4,4,0,178,10,4,3,0,4,4,4,...,30.000000,30.0,0.000000,0.0,0.0,0.0,0.0,6127.621124,0.000298,0.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 60 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      800000 non-null  int64
 1   cat_0   800000 non-null  int64
 2   cat_1   800000 non-null  int64
 3   cat_2   800000 non-null  int64
 4   cat_3   800000 non-null  int64
 5   cat_4   800000 non-null  int64
 6   cat_5   800000 non-null  int64
 7   cat_6   800000 non-null  int64
 8   cat_7   800000 non-null  int64
 9   cat_8   800000 non-null  int64
 10  cat_9   800000 non-null  int64
 11  cat_10  800000 non-null  int64
 12  cat_11  800000 non-null  int64
 13  cat_12  800000 non-null  float64
 14  cat_13  800000 non-null  int64
 15  cat_14  800000 non-null  int64
 16  cat_15  800000 non-null  int64
 17  cat_16  800000 non-null  int64
 18  cat_17  800000 non-null  int64
 19  cat_18  800000 non-null  int64
 20  cat_19  800000 non-null  int64
 21  num_0   800000 non-null  int64
 22  num_1   800000 non-null  float64
 23  num_2   800000 non-null  float64
 24  num_3   800000 non-null  float64
 25  num_4   800000 non-null  float64
 26  num_5   800000 non-null  int64
 27  num_6   800000 non-null  float64
 28  num_7   800000 non-null  float64
 29  num_8   800000 non-null  float64
 30  num_9   800000 non-null  float64
 31  num_10  800000 non-null  float64
 32  num_11  800000 non-null  float64
 33  num_12  800000 non-null  float64
 34  num_13  800000 non-null  float64
 35  num_14  800000 non-null  float64
 36  num_15  800000 non-null  float64
 37  num_16  800000 non-null  float64
 38  num_17  800000 non-null  float64
 39  num_18  800000 non-null  float64
 40  num_19  800000 non-null  float64
 41  num_20  800000 non-null  float64
 42  num_21  800000 non-null  float64
 43  num_22  800000 non-null  float64
 44  num_23  800000 non-null  float64
 45  num_24  800000 non-null  float64
 46  num_25  800000 non-null  float64
 47  num_26  800000 non-null  float64
 48  num_27  800000 non-null  float64
 49  num_28  800000 non-null  float64
 50  num_29  800000 non-null  float64
 51  num_30  800000 non-null  float64
 52  num_31  800000 non-null  float64
 53  num_32  800000 non-null  float64
 54  num_33  800000 non-null  float64
 55  num_34  800000 non-null  float64
 56  num_35  800000 non-null  float64
 57  num_36  800000 non-null  float64
 58  num_37  800000 non-null  float64
 59  target  800000 non-null  float64
dtypes: float64(38), int64(22)
memory usage: 366.2 MB

In [5]:
print(data.shape)

(800000, 60)

In [6]:
data.id.value_counts()

0         1
533350    1
533328    1
533329    1
533330    1
         ..
266668    1
266669    1
266670    1
266671    1
799999    1
Name: id, Length: 800000, dtype: int64

In [7]:
data.nunique()

id        800000
cat_0         31
cat_1        358
cat_2         10
cat_3          5
cat_4          5
cat_5          2
cat_6         12
cat_7          6
cat_8          4
cat_9         14
cat_10         3
cat_11         7
cat_12    110007
cat_13         2
cat_14         2
cat_15         2
cat_16         2
cat_17         2
cat_18         2
cat_19         2
num_0        286
num_1     600809
num_2     789644
num_3     292033
num_4     222325
num_5         43
num_6     196100
num_7     195694
num_8     198552
num_9     183955
num_10    184374
num_11    165778
num_12     37021
num_13     10355
num_14        17
num_15     54540
num_16      6256
num_17     18766
num_18     74077
num_19     95578
num_20      7293
num_21    114271
num_22    150896
num_23     19728
num_24       204
num_25     90267
num_26    110779
num_27    125058
num_28     13780
num_29    160612
num_30    166238
num_31    156442
num_32    124670
num_33    100591
num_34      1519
num_35    310357
num_36    625131
num_37    176730
target         2
dtype: int64

In [8]:
keys=data.keys()
print(keys)

Index(['id', 'cat_0', 'cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6',
       'cat_7', 'cat_8', 'cat_9', 'cat_10', 'cat_11', 'cat_12', 'cat_13',
       'cat_14', 'cat_15', 'cat_16', 'cat_17', 'cat_18', 'cat_19', 'num_0',
       'num_1', 'num_2', 'num_3', 'num_4', 'num_5', 'num_6', 'num_7', 'num_8',
       'num_9', 'num_10', 'num_11', 'num_12', 'num_13', 'num_14', 'num_15',
       'num_16', 'num_17', 'num_18', 'num_19', 'num_20', 'num_21', 'num_22',
       'num_23', 'num_24', 'num_25', 'num_26', 'num_27', 'num_28', 'num_29',
       'num_30', 'num_31', 'num_32', 'num_33', 'num_34', 'num_35', 'num_36',
       'num_37', 'target'],
      dtype='object')

In [9]:
neagtive_ = data[data['target']==0.0]
print(len(neagtive_))
positive = data[data['target']==1.0]
print(len(positive))
neagtive = neagtive_.sample(frac=0.015)###减少负样本
print(len(neagtive))
data_set = pd.concat([neagtive, positive], axis=0)#叠加正负样本
data_set = data_set.sample(frac=1)#打乱正负样本

789400
10600
11841

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [11]:
array=data_set.values
X=array[:,21:59]
y=array[:,59]
print(X.shape,y.shape)

(22441, 38) (22441,)

In [12]:
validation_size = 0.2
seed = 7
X_train,X_validation,y_train,y_validation = train_test_split(X,y,test_size=validation_size,random_state=seed)

In [13]:
model1 = LogisticRegression(solver='liblinear',class_weight='balanced')
model1.fit(X_train, y_train)
pred = model1.predict(X_validation)
print(classification_report(y_validation,pred))

              precision    recall  f1-score   support

         0.0       0.74      0.73      0.73      2388
         1.0       0.70      0.70      0.70      2101

    accuracy                           0.72      4489
   macro avg       0.72      0.72      0.72      4489
weighted avg       0.72      0.72      0.72      4489

In [14]:
from sklearn.metrics import roc_auc_score

In [15]:
model1_score=roc_auc_score(y_validation,pred)
print(model1_score)

0.7162774247247662

In [16]:
model2 = RandomForestClassifier(class_weight='balanced')
model2.fit(X_train, y_train)
pred = model2.predict(X_validation)
print(classification_report(y_validation,pred))

              precision    recall  f1-score   support

         0.0       0.85      0.78      0.81      2388
         1.0       0.77      0.84      0.81      2101

    accuracy                           0.81      4489
   macro avg       0.81      0.81      0.81      4489
weighted avg       0.81      0.81      0.81      4489

In [17]:
model2_score=roc_auc_score(y_validation,pred)
print(model2_score)

0.8113983370764659

In [18]:
model3 = DecisionTreeClassifier()
model3.fit(X_train, y_train)
pred = model3.predict(X_validation)
print(classification_report(y_validation,pred))

              precision    recall  f1-score   support

         0.0       0.76      0.74      0.75      2388
         1.0       0.71      0.73      0.72      2101

    accuracy                           0.74      4489
   macro avg       0.73      0.74      0.74      4489
weighted avg       0.74      0.74      0.74      4489

In [19]:
model3_score=roc_auc_score(y_validation,pred)
print(model3_score)

0.7356008983518257

In [20]:
model4 = LinearDiscriminantAnalysis()
model4.fit(X_train, y_train)
pred = model4.predict(X_validation)
print(classification_report(y_validation,pred))

              precision    recall  f1-score   support

         0.0       0.74      0.81      0.77      2388
         1.0       0.75      0.67      0.71      2101

    accuracy                           0.74      4489
   macro avg       0.74      0.74      0.74      4489
weighted avg       0.74      0.74      0.74      4489

In [21]:
model4_score=roc_auc_score(y_validation,pred)
print(model4_score)

0.7386778211221106

In [22]:
model5 = KNeighborsClassifier(n_neighbors=7)
model5.fit(X_train, y_train)
pred = model5.predict(X_validation)
print(classification_report(y_validation, pred))

              precision    recall  f1-score   support

         0.0       0.72      0.64      0.68      2388
         1.0       0.63      0.71      0.67      2101

    accuracy                           0.67      4489
   macro avg       0.68      0.68      0.67      4489
weighted avg       0.68      0.67      0.67      4489

In [23]:
model5_score=roc_auc_score(y_validation,pred)
print(model5_score)

0.6762491260044472

In [32]:
model6 = GaussianNB()
model6.fit(X_train, y_train)
pred = model6.predict(X_validation)
print(classification_report(y_validation,pred))

              precision    recall  f1-score   support

         0.0       0.69      0.62      0.65      2388
         1.0       0.61      0.69      0.65      2101

    accuracy                           0.65      4489
   macro avg       0.65      0.65      0.65      4489
weighted avg       0.65      0.65      0.65      4489

In [33]:
model6_score=roc_auc_score(y_validation,pred)
print(model6_score)

0.6517677830689222

In [26]:
model7 = SVC(class_weight='balanced')
model7.fit(X_train, y_train)
pred = model7.predict(X_validation)
print(classification_report(y_validation,pred))

              precision    recall  f1-score   support

         0.0       0.57      0.78      0.66      2388
         1.0       0.57      0.32      0.41      2101

    accuracy                           0.57      4489
   macro avg       0.57      0.55      0.54      4489
weighted avg       0.57      0.57      0.54      4489

In [27]:
model7_score=roc_auc_score(y_validation,pred)
print(model7_score)

0.5538447034474291